.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-box{
    display: block;
    width: 20%;
    height: 34px;
    display: block;
    margin: 0 auto;
    padding: 8px 14px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.fizz{
  color:blue;
}
.buzz{
  color: green
}
.result{
    font: 16px bold, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top :15px;
    line-height: 1.2;
}
.space{
  margin-left: 10px;
  margin-top:10px;
}